.banner-banner {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
    background-color: #0F1015;
  }
  .banner-captions {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .banner-caption {
    gap: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: center;
  }
  .banner-text {
    color: rgb(246, 245, 237);
    font-size: 14px;
    text-align: center;
  }
  .banner-link {
    color: rgb(246, 245, 237);
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    transition: 0.3s;
    font-weight: 700;
    text-decoration: none;
  }
  .banner-link:hover {
    color: grey;
  }
  .banner-link1 {
    display: contents;
  }
  .banner-caption1 {
    gap: 4px;
    width: 100%;
    display: none;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    flex-direction: row;
    justify-content: center;
  }
  .banner-text1 {
    color: rgb(246, 245, 237);
    font-size: 14px;
    text-align: center;
  }
  .banner-text2 {
    color: rgb(246, 245, 237);
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    transition: 0.3s;
    font-weight: 700;
  }
  .banner-text2:hover {
    color: grey;
  }
  .banner-close {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .banner-icon {
    fill: #ffffff;
    width: var(--dl-size-size-xsmall);
    cursor: pointer;
    height: var(--dl-size-size-xsmall);
    transition: 0.3s;
  }
  .banner-icon:hover {
    fill: grey;
  }
  @media(max-width: 479px) {
    .banner-caption {
      display: none;
    }
    .banner-caption1 {
      display: flex;
      padding-left: 0px;
    }
    .banner-icon {
      display: none;
    }
  }
  
  .branding-branding {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
  }
  .branding-image {
    width: 347px;
    height: 332px;
    object-fit: cover;
  }
  
  
  .number-number {
    position: relative;
    background-color: #ffffff;
  }
  .number-root-class-name {
    background-color: #E8E6DA;
  }
  .number-root-class-name1 {
    background-color: #D0DFA6;
  }
  .number-root-class-name2 {
    background-color: #79D490;
  }
  @media(max-width: 479px) {
    .number-number {
      width: 40px;
      height: 40px;
    }
    .number-text {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
  }
  
  .steps-steps-list {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .steps-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .steps-section {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .steps-caption {
    font-size: 24px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
  }
  .steps-divider {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    border-color: #222223;
    border-style: dotted;
    border-width: 2px;
    margin-right: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
  .steps-section1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .steps-caption1 {
    font-size: 24px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
  }
  .steps-divider1 {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    border-color: #222223;
    border-style: dotted;
    border-width: 2px;
    margin-right: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
  .steps-section2 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .steps-caption2 {
    font-size: 24px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
  }
  .steps-divider2 {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    border-color: #222223;
    border-style: dotted;
    border-width: 2px;
    margin-right: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
  .steps-section3 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .steps-caption3 {
    font-size: 24px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
  }
  @media(max-width: 767px) {
    .steps-steps-list {
      flex-direction: column;
    }
  }
  @media(max-width: 479px) {
    .steps-caption {
      font-size: 16px;
      line-height: 40px;
    }
    .steps-divider {
      height: 40px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .steps-caption1 {
      font-size: 16px;
      line-height: 40px;
    }
    .steps-divider1 {
      height: 40px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .steps-caption2 {
      font-size: 16px;
      line-height: 40px;
    }
    .steps-divider2 {
      height: 40px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .steps-caption3 {
      font-size: 16px;
      line-height: 40px;
    }
  }
  
  .navigation-links1-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .navigation-links1-text1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links1-text2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links1-text3 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links1-text4 {
    margin-left: var(--dl-space-space-twounits);
  }
  
  
  
  
  
  
  
  
  @media(max-width: 767px) {
    .navigation-links1-nav {
      align-items: flex-start;
      flex-direction: column;
    }
    .navigation-links1-text {
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links1-text1 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links1-text2 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links1-text3 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links1-text4 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  
  .navigation-links2-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .navigation-links2-text1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links2-text2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links2-text3 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links2-text4 {
    margin-left: var(--dl-space-space-twounits);
  }
  
  
  
  
  
  
  
  
  @media(max-width: 767px) {
    .navigation-links2-nav {
      align-items: flex-start;
      flex-direction: column;
    }
    .navigation-links2-text {
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links2-text1 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links2-text2 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links2-text3 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links2-text4 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  
  .navigation-links3-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .navigation-links3-text1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links3-text2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links3-text3 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links3-text4 {
    margin-left: var(--dl-space-space-twounits);
  }
  
  
  
  
  
  
  
  
  @media(max-width: 767px) {
    .navigation-links3-nav {
      align-items: flex-start;
      flex-direction: column;
    }
    .navigation-links3-text {
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links3-text1 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links3-text2 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links3-text3 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
    .navigation-links3-text4 {
      margin-left: 0;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F6F5ED;
  }
  .home-container1 {
    flex: 0 0 auto;
    width: auto;
    height: 646px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #dec9c9;
  }
  .home-image {
    width: 118px;
    height: 117px;
    object-fit: cover;
  }
  .home-main {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    height: 646px;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: row;
  }
  .home-content {
    gap: var(--dl-space-space-fiveunits);
    flex: 1;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-navbar-interactive {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .home-desktop-menu {
    display: flex;
  }
  .home-links {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-link {
    text-decoration: none;
  }
  .home-link01 {
    text-decoration: none;
  }
  .home-link02 {
    text-decoration: none;
  }
  .home-link03 {
    text-decoration: none;
  }
  .home-burger-menu {
    display: none;
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .home-nav {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container2 {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
  }
  .home-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-links1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    flex-direction: column;
  }
  .home-link04 {
    text-decoration: none;
  }
  .home-link05 {
    text-decoration: none;
  }
  .home-link06 {
    text-decoration: none;
  }
  .home-link07 {
    text-decoration: none;
  }
  .home-icon-group {
    display: flex;
  }
  .home-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-hero-section {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 600px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-header {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-heading {
    color: rgb(34, 34, 35);
    width: 313px;
    height: 256px;
    font-size: 70px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 91px;
  }
  .home-buttons {
    gap: var(--dl-space-space-unit);
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-caption {
    color: rgb(34, 34, 35);
    font-size: 20px;
    line-height: 30px;
  }
  .home-image01 {
    flex: 1;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    background-size: cover;
    background-image: url("/playground_assets/screenshot%202023-02-19%20174639-800h.png");
  }
  .home-button1 {
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    text-transform: capitalize;
    background-color: #3bd7da;
  }
  .home-details-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    background-color: #79D490;
  }
  .home-details {
    gap: var(--dl-space-space-fiveunits);
    flex: 1;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
    background-color: #f3e259;
  }
  .home-category {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-image02 {
    width: 32px;
    object-fit: cover;
  }
  .home-text {
    max-width: 282px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-category1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-image03 {
    width: 32px;
    object-fit: cover;
  }
  .home-text1 {
    max-width: 282px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-category2 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-image04 {
    width: 32px;
    object-fit: cover;
  }
  .home-text2 {
    max-width: 282px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-mission {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: 200px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: #d3edd4;
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 560px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-main1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-title {
    color: #222223;
    font-style: normal;
    font-weight: 500;
  }
  .home-header01 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading1 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .home-caption1 {
    color: rgb(34, 34, 35);
    font-size: 18px;
    line-height: 27px;
  }
  .home-highlights {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-highlight {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    max-width: 248px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-title1 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
    border-color: var(--dl-color-gray-black);
    border-style: dashed;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-left-width: 1px;
  }
  .home-description {
    color: rgb(34, 34, 35);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-highlight1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    max-width: 248px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-title2 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
    border-color: var(--dl-color-gray-black);
    border-style: dashed;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-left-width: 1px;
  }
  .home-description1 {
    color: rgb(34, 34, 35);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-images {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
  }
  .home-row {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-image05 {
    top: -215px;
    left: 2px;
    width: 472px;
    height: 249px;
    z-index: 100;
    position: absolute;
    object-fit: cover;
  }
  .home-image06 {
    width: 475px;
    height: 271px;
    object-fit: cover;
  }
  .home-petitions {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: 120px;
    justify-content: center;
    background-color: #96774e;
  }
  .home-images1 {
    flex: 1;
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-image07 {
    width: 641px;
    object-fit: cover;
  }
  .home-content2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 560px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-main2 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-header02 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading2 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .home-caption2 {
    color: rgb(34, 34, 35);
    font-size: 18px;
    line-height: 27px;
  }
  .home-button2 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-button3 {
    background-color: #69aa53;
  }
  .home-steps {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F6F5ED;
  }
  .home-content3 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: 120px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: 120px;
    justify-content: space-between;
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 560px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-main3 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-header03 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading3 {
    color: rgb(34, 34, 35);
    width: 564px;
    height: 105px;
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .home-caption3 {
    color: rgb(34, 34, 35);
    font-size: 18px;
    line-height: 27px;
  }
  .home-help {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: 140px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: 120px;
    justify-content: center;
    background-color: #af7171;
  }
  .home-help-content {
    gap: var(--dl-space-space-threeunits);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-header04 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    max-width: 600px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-heading4 {
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .home-caption4 {
    font-size: 18px;
    text-align: center;
    line-height: 27px;
  }
  .home-switch {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-content4 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-save {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-content5 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 560px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-main4 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-header05 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading5 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .home-caption5 {
    color: rgb(34, 34, 35);
    font-size: 18px;
    line-height: 27px;
  }
  .home-highlights1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-highlight2 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-title3 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
    border-color: var(--dl-color-gray-black);
    border-style: dashed;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-left-width: 1px;
  }
  .home-description2 {
    color: rgb(34, 34, 35);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-highlight3 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-title4 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
    border-color: var(--dl-color-gray-black);
    border-style: dashed;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-left-width: 1px;
  }
  .home-description3 {
    color: rgb(34, 34, 35);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-button4 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-images2 {
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-image08 {
    width: 640px;
    object-fit: cover;
  }
  .home-companies {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-content6 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 560px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-main5 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-header06 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading6 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .home-caption6 {
    color: rgb(34, 34, 35);
    font-size: 18px;
    line-height: 27px;
  }
  .home-highlights2 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-highlight4 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-title5 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
    border-color: var(--dl-color-gray-black);
    border-style: dashed;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-left-width: 1px;
  }
  .home-description4 {
    color: rgb(34, 34, 35);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-highlight5 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-title6 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
    border-color: var(--dl-color-gray-black);
    border-style: dashed;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-left-width: 1px;
  }
  .home-description5 {
    color: rgb(34, 34, 35);
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-button6 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-images3 {
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-image09 {
    width: 640px;
    object-fit: cover;
  }
  .home-quote-one {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 120px;
    flex-direction: column;
    padding-bottom: 120px;
    justify-content: center;
    background-color: #F6F5ED;
  }
  .home-quote-content {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    justify-content: center;
  }
  .home-quote {
    color: rgb(34, 34, 35);
    width: 100%;
    font-size: 32px;
    max-width: 900px;
    font-style: italic;
    font-family: Lora;
    font-weight: 500;
    line-height: 48px;
  }
  .home-quoted {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    max-width: 900px;
    align-items: center;
    flex-direction: row;
  }
  .home-image10 {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-color: #222223;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-round);
  }
  .home-caption7 {
    color: rgb(34, 34, 35);
    font-size: 18px;
    font-style: italic;
    font-family: Lora;
    font-weight: 500;
  }
  .home-footer {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 120px;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
    background-color: #6350d2;
  }
  .home-top {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 640px;
    align-items: center;
    border-color: #222223;
    border-style: dashed;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
    border-bottom-width: 1px;
  }
  .home-navigation-links {
    gap: var(--dl-space-space-twounits);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
  }
  .home-link08 {
    text-decoration: none;
  }
  .home-link09 {
    text-decoration: none;
  }
  .home-link10 {
    text-decoration: none;
  }
  .home-link11 {
    text-decoration: none;
  }
  .home-header07 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image11 {
    height: 2rem;
  }
  .home-separator {
    width: 100%;
    height: 1px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    background-color: var(--dl-color-gray-900);
  }
  .home-accordion-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    display: none;
  }
  .home-accordion-content {
    display: flex;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in-out;
    align-items: center;
    flex-direction: column;
  }
  .home-nav2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-header08 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-image12 {
    height: 2rem;
  }
  .home-nav3 {
    display: flex;
  }
  .home-btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-login {
    border-width: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu1 {
    display: none;
  }
  .home-icon12 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu1 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .home-nav4 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container3 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-image13 {
    height: 2rem;
  }
  .home-menu-close1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon14 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-icon16 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon18 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon20 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-header09 {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-image14 {
    height: 2rem;
  }
  .home-nav5 {
    display: flex;
  }
  .home-btn-group1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-login1 {
    border-width: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu2 {
    display: none;
  }
  .home-icon22 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-mobile-menu2 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .home-nav6 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container4 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .home-image15 {
    height: 2rem;
  }
  .home-menu-close2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon24 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .home-icon26 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon28 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon30 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  @media(max-width: 991px) {
    .home-main {
      gap: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-threeunits);
    }
    .home-navbar-interactive {
      gap: 0;
      justify-content: space-between;
    }
    .home-links {
      display: none;
    }
    .home-burger-menu {
      display: flex;
    }
    .home-heading {
      font-size: 36px;
      line-height: 46px;
    }
    .home-buttons {
      flex-direction: column;
    }
    .home-caption {
      font-size: 16px;
      line-height: 24px;
    }
    .home-button1 {
      display: none;
    }
    .home-details {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-category {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-category1 {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-category2 {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-mission {
      gap: var(--dl-space-space-twounits);
    }
    .home-petitions {
      padding-top: 0px;
      flex-direction: column-reverse;
      padding-bottom: var(--dl-space-space-sixunits);
    }
    .home-images1 {
      width: 100%;
    }
    .home-image07 {
      flex: 1;
      width: 100%;
    }
    .home-content2 {
      max-width: 100%;
    }
    .home-button2 {
      width: 100%;
    }
    .home-content3 {
      gap: var(--dl-space-space-fourunits);
      align-items: flex-start;
      padding-top: var(--dl-space-space-sixunits);
      flex-direction: column;
      padding-bottom: var(--dl-space-space-sixunits);
      justify-content: flex-start;
    }
    .home-help {
      padding-top: var(--dl-space-space-sixunits);
      padding-bottom: var(--dl-space-space-sixunits);
    }
    .home-save {
      flex-direction: column;
    }
    .home-content5 {
      max-width: 100%;
    }
    .home-button4 {
      width: 100%;
    }
    .home-images2 {
      width: 100%;
    }
    .home-image08 {
      width: 100%;
    }
    .home-companies {
      flex-direction: column;
    }
    .home-content6 {
      max-width: 100%;
    }
    .home-button6 {
      width: 100%;
    }
    .home-images3 {
      width: 100%;
    }
    .home-image09 {
      width: 100%;
    }
    .home-quote-one {
      padding-top: var(--dl-space-space-sixunits);
      padding-bottom: var(--dl-space-space-sixunits);
    }
    .home-footer {
      width: 100%;
      padding-top: var(--dl-space-space-sixunits);
    }
    .home-nav2 {
      padding-top: 16px;
    }
  }
  @media(max-width: 767px) {
    .home-main {
      gap: var(--dl-space-space-threeunits);
      height: 800px;
      position: relative;
      padding-left: 0px;
      flex-direction: column;
    }
    .home-content {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-navbar-interactive {
      gap: 0;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
      justify-content: space-between;
    }
    .home-desktop-menu {
      display: none;
    }
    .home-burger-menu {
      display: flex;
    }
    .home-image01 {
      width: 100%;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background-position: center;
    }
    .home-details {
      gap: var(--dl-space-space-twounits);
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-category {
      gap: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-text {
      max-width: 100%;
    }
    .home-category1 {
      gap: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-text1 {
      max-width: 100%;
    }
    .home-category2 {
      gap: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-text2 {
      max-width: 100%;
    }
    .home-mission {
      gap: var(--dl-space-space-threeunits);
      padding-top: var(--dl-space-space-sixunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
    }
    .home-content1 {
      max-width: 100%;
    }
    .home-images {
      width: 100%;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
    .home-row {
      width: 100%;
      padding-top: var(--dl-space-space-oneandhalfunits);
      justify-content: flex-end;
    }
    .home-image05 {
      bottom: var(--dl-space-space-halfunit);
      position: static;
    }
    .home-petitions {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-content3 {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-help {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-help-content {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-heading5 {
      text-align: center;
    }
    .home-caption5 {
      text-align: center;
    }
    .home-heading6 {
      text-align: center;
    }
    .home-caption6 {
      text-align: center;
    }
    .home-quote-content {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-footer {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-header07 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-separator {
      margin-top: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-nav1 {
      display: none;
    }
    .home-icon10 {
      display: flex;
    }
    .home-header08 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-nav3 {
      display: none;
    }
    .home-btn-group {
      display: none;
    }
    .home-burger-menu1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .home-header09 {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-nav5 {
      display: none;
    }
    .home-btn-group1 {
      display: none;
    }
    .home-burger-menu2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media(max-width: 479px) {
    .home-content {
      gap: var(--dl-space-space-threeunits);
    }
    .home-navbar-interactive {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu {
      padding: 16px;
    }
    .home-mission {
      padding-top: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-title {
      font-size: 12px;
    }
    .home-header01 {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-heading1 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-caption1 {
      font-size: 16px;
      line-height: 24px;
    }
    .home-highlights {
      gap: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-highlight {
      gap: var(--dl-space-space-unit);
    }
    .home-title1 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-highlight1 {
      gap: var(--dl-space-space-unit);
    }
    .home-title2 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-image05 {
      width: 200px;
    }
    .home-image06 {
      width: 200px;
    }
    .home-petitions {
      gap: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-heading2 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-caption2 {
      color: rgb(34, 34, 35);
      line-height: 24px;
    }
    .home-content3 {
      padding-top: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-heading3 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-caption3 {
      font-size: 16px;
      line-height: 24px;
    }
    .home-help {
      padding-top: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-heading4 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-caption4 {
      font-size: 16px;
      line-height: 24px;
    }
    .home-heading5 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-caption5 {
      font-size: 16px;
      line-height: 24px;
    }
    .home-highlights1 {
      width: 100%;
    }
    .home-highlight2 {
      gap: var(--dl-space-space-halfunit);
      width: 100%;
      flex-direction: column;
    }
    .home-title3 {
      width: 100%;
      text-align: center;
      padding-left: 0px;
      border-left-width: 0px;
    }
    .home-description2 {
      width: 100%;
      text-align: center;
    }
    .home-highlight3 {
      gap: var(--dl-space-space-halfunit);
      width: 100%;
      flex-direction: column;
    }
    .home-title4 {
      width: 100%;
      text-align: center;
      padding-left: 0px;
      border-left-width: 0px;
    }
    .home-description3 {
      width: 100%;
      text-align: center;
    }
    .home-button4 {
      gap: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
    }
    .home-heading6 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-caption6 {
      font-size: 16px;
      line-height: 24px;
    }
    .home-highlight4 {
      gap: var(--dl-space-space-halfunit);
      width: 100%;
      flex-direction: column;
    }
    .home-title5 {
      padding-left: 0px;
      border-left-width: 0px;
    }
    .home-description4 {
      text-align: center;
    }
    .home-highlight5 {
      gap: var(--dl-space-space-halfunit);
      width: 100%;
      flex-direction: column;
    }
    .home-title6 {
      padding-left: 0px;
      border-left-width: 0px;
    }
    .home-description5 {
      text-align: center;
    }
    .home-button6 {
      gap: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
    }
    .home-quote-one {
      padding-top: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-quote-content {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-quote {
      font-size: 18px;
      text-align: center;
      line-height: 27px;
    }
    .home-quoted {
      flex-direction: column;
      justify-content: center;
    }
    .home-image10 {
      width: 40px;
      height: 40px;
    }
    .home-caption7 {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }
    .home-footer {
      padding-top: var(--dl-space-space-threeunits);
    }
    .home-navigation-links {
      flex-direction: column;
    }
    .home-header07 {
      padding: var(--dl-space-space-unit);
    }
    .home-separator {
      margin-top: var(--dl-space-space-unit);
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-header08 {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu1 {
      padding: 16px;
    }
    .home-header09 {
      padding: var(--dl-space-space-unit);
    }
    .home-mobile-menu2 {
      padding: 16px;
    }
  }
  